parameters:
	ignoreErrors:
		-
			identifier: 'property.readOnlyAssignNotInConstructor'
			path: '../src/LockDiffEntry.php'
		-
			identifier: 'property.uninitializedReadonly'
			path: '../src/LockDiffEntry.php'
		-
			identifier: assign.readOnlyProperty
			path: '../src/LockDiffEntry.php'
